{% extends 'base.html.twig' %}
 
{% block title %} Se connecter !{% endblock %}
 
{% block body %}
<div class="container mx-auto mt-10 p-6 max-w-md bg-white shadow-md rounded">
    <form class="space-y-4" method="post">
        {% if error %}
            <div class="bg-red-500 text-white p-3 rounded">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
 
        {% if app.user %}
            <div class="bg-blue-500 text-white p-3 rounded mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}" class="underline text-white hover:text-blue-300"> Se déconnecter </a>
            </div>
        {% endif %}
 
        <h1 class="text-2xl font-bold text-center mb-4">Connectez-vous</h1>
 
        <div class="space-y-1">
            <label for="username" class="block text-sm font-medium text-gray-700">Email :</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" autocomplete="email" required autofocus>
        </div>
 
        <div class="space-y-1">
            <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe :</label>
            <input type="password" name="_password" id="password" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" autocomplete="current-password" required>
        </div>
 
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
 
        <button class="w-full mt-4 bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
