{% extends 'base.html.twig' %}

{% block title %} Détail stagiaire {% endblock %}

{% block body %}

<div class="content mt-12">

    <div id="ficheStagiaire" class="mb-6">
        <h1 class="text-2xl font-bold">Détails du stagiaire {{ stagiaire.prenom }}</h1>
    </div>
    
    <div id="DetailsStagiaire" class="bg-white shadow-md rounded p-6">
        <p class="text-gray-700">
            <strong>Nom:</strong> {{ stagiaire.nom }} <br>
            <strong>Prénom:</strong> {{ stagiaire.prenom }} <br>
            <strong>Date de naissance:</strong> {{ stagiaire.dateNaissance|date('d/m/Y') }} <br>
            <strong>Email:</strong> {{ stagiaire.email }} <br>
            <strong>Téléphone:</strong> {{ stagiaire.tel }} <br>
        </p>
    </div>  
    <br>
    <div id="ficheStagiaire" class="mb-6" >
        <h3 class="text-2xl font-bold" > Sessions prévues </h3>
    </div>
    <div id="DetailsStagiaire" class="bg-white shadow-md rounded p-6" >
        <p class="text-gray-700">
            <ul class="divide-y divide-gray-200 border rounded-lg">
                {% for session in stagiaire.sessions %}
                    <li class="px-4 py-2 hover:bg-gray-100"> 
                        <a href="{{ path('show_session', {'id': session.id }) }}" class="text-blue-600 hover:underline">
                            {{ session.nom }}
                        </a>
                        <br>
                        <strong>Date de début :</strong> {{ session.dateDebut|date('d/m/Y') }} <br>
                        <strong>Date de fin :</strong> {{ session.dateFin|date('d/m/Y') }} <br>
                    </li>
                {% else %}
                    <li class="px-4 py-2 text-gray-500">Aucune session trouvée pour ce stagiaire.</li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>

{% endblock %}
