{% extends 'base.html.twig' %}

{% block title %} Liste des Sessions {% endblock %}

{% block body %}
<div class="content mt-12">

    <div id="ficheStagiaire" class="flex items-center mb-6">
        <img id="icons" src="{{ asset('img/education.png') }}" alt="sessions" class="h-8 w-8"> 
        <h1 class="text-2xl font-bold ml-4">Liste des Sessions</h1>
    </div>

    {% for session in sessions %}
        <ul class="divide-y divide-gray-200 border rounded-lg">   
            <li style="display: flex;
            flex-direction: row;
            align-content: space-between;
            justify-content: space-between;
            align-items: center;" class="px-4 py-2 hover:bg-gray-100"> 
                <div>
                    <a href="{{ path('show_session', {'id': session.id }) }}" class="text-blue-600 hover:underline">
                        {{ session.nom }}
                    </a>  
                    <br>
                    <strong>Date de début :</strong> {{ session.dateDebut|date('d/m/Y') }} <br>
                    <strong>Date de fin :</strong> {{ session.dateFin|date('d/m/Y') }} <br>
                </div>
                <form action="{{ path('delete_session', {'id': session.id}) }}" method="post" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette session ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
                    <button style="background-color: #346E74;" type="submit" class="text-white font-bold py-2 px-4 rounded"> Supprimer </button>
                </form>
            </li>
        </ul> <br>            
    {% endfor %}
    
</div>
{% endblock %}
