{% extends 'base.html.twig' %}

{% block title %}Détail session{% endblock %}

{% block body %}
<div class="content mt-12">

    <div id="ficheStagiaire" class="mb-6">
        <h1 class="text-2xl font-bold">Détails de la session {{ session.nom }}</h1><br>
    </div>
    
    <div id="DetailsStagiaire" class="bg-white p-6 rounded-lg shadow-md">
        <p class="text-gray-700">
            <strong class="font-semibold">Intitulé:</strong> {{ session.nom }} <br>
            <strong class="font-semibold">Date de début:</strong> {{ session.dateDebut|date('d/m/Y') }} <br>
            <strong class="font-semibold">Date de fin:</strong> {{ session.dateFin|date('d/m/Y') }} <br>
            <strong class="font-semibold">Nombre de places:</strong> {{ session.nbrePlace }} <br>
        </p>
    </div>
    <br>

    <div id="ficheStagiaire" class="mb-6">
        <h1 class="text-2xl font-bold">Modules programmés</h1><br>
    </div>
    
    <div id="DetailsStagiaire" class="bg-white p-6 rounded-lg shadow-md">
        <ul class="text-gray-700">
            {% for programme in session.programmes %}
                <li>
                    <a href="{{ path('show_module', {'id': programme.module.id }) }}"><strong>Intitulé : </strong> {{ programme.module.nom }} </a>
                    <br>
                    <strong>Durée de la session :</strong> {{ programme.duree }} jours<br>
                </li>
            {% else %}
                <li>Aucun module programmé.</li>
            {% endfor %}
        </ul>
    </div>
    <br>

    <div id="ficheStagiaire" class="mb-6">
        <h3 class="text-2xl font-bold">Stagiaires participant</h3><br>
    </div>

    <div id="DetailsStagiaire" class="bg-white p-6 rounded-lg shadow-md">
        <ul class="text-gray-700">
            {% for stagiaire in session.stagiaires %}
                <li>
                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id }) }}"> 
                        {{ stagiaire.nom }} {{ stagiaire.prenom }} 
                    </a>
                </li>
            {% else %}
                <li>Aucun stagiaire inscrit.</li>
            {% endfor %}
            <br>
            {# Afficher les stagiaires non inscrits #}
            <h2 class="text-xl font-semibold mt-4">Stagiaires non inscrits :</h2>
            <br>
            {% for stagiaire in nonInscrits %}
                <li>{{ stagiaire.nom }} {{ stagiaire.prenom }}</li>
            {% else %}
                <li>Aucun stagiaire non inscrit trouvé.</li>
            {% endfor %}
    
        </ul>
        <br>
    </div>
     
    
</div>
{% endblock %}
