{% extends 'base.html.twig' %}

{% block title %} Détail session {% endblock %}

{% block body %}

<div class="content">

    <div id="ficheStagiaire">
        <h1>Détails de la session {{ session.nom }}</h1><br>
    </div>
    
    <div id="DetailsStagiaire">
        <p>
            <strong>Intitulé:</strong> {{ session.nom }} <br>
            <strong>Date de début:</strong> {{ session.dateDebut|date('d/m/Y') }} <br>
            <strong>Date de fin:</strong> {{ session.dateFin|date('d/m/Y') }} <br>
            <strong>Nombre de places: </strong>{{ session.nbrePlace }} <br>
        </p>
    </div>
</div>

{% endblock %}
