<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Bienvenue ! {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
        {% endblock %}
    </head>
    <body>
      <nav class="bg-gray-100 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-xl font-bold" href="{{ path('home') }}"> SessiOnGo </a>
            <button class="lg:hidden text-gray-700 focus:outline-none" id="navbar-toggler">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <div class="hidden w-full lg:flex lg:items-center lg:w-auto" id="navbarNav">
                <ul class="flex flex-col lg:flex-row lg:space-x-4">
                    <li>
                        <a class="block py-2 text-gray-700 hover:text-blue-600 lg:inline-block" href="{{ path('app_categorie') }}">Catégories</a>
                    </li>
                    <li>
                        <a class="block py-2 text-gray-700 hover:text-blue-600 lg:inline-block" href="{{ path('app_session') }}">Sessions</a>
                    </li>
                    <li>
                        <a class="block py-2 text-gray-700 hover:text-blue-600 lg:inline-block" href="{{ path('app_stagiaire') }}">Stagiaires</a>
                    </li>
                    <li>
                        <a class="block py-2 text-gray-700 hover:text-blue-600 lg:inline-block" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li>
                        <a class="block py-2 text-gray-700 hover:text-blue-600 lg:inline-block" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
      

        {% block body %}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script>
                document.getElementById('navbar-toggler').onclick = function() {
                    const navbarNav = document.getElementById('navbarNav');
                    navbarNav.classList.toggle('hidden');
                };
            </script>  
        {% endblock %}
    </body>
</html>
