{% extends 'base.html.twig' %}

{% block title %} Détail Formateur {% endblock %}

{% block body %}

<div class="content mt-12">

    {# --------------------------------  Affichage details formateurs  ----------------------------- #}

    <div id="ficheStagiaire" class="mb-6">
        <h1 class="text-2xl font-bold">Détails formateur : {{ formateur.nom }}</h1><br>
    </div>
    
    <div id="DetailsStagiaire" class="bg-white p-6 rounded-lg shadow-md">
        <a href="{{ path('show_formateur', {'id': formateur.id}) }}">
            <p class="text-gray-700">
                <strong class="font-semibold">Nom:</strong> {{ formateur.nom }} <br>
            </p>
            <p class="text-gray-700">
                <strong class="font-semibold"> Prénom:</strong> {{ formateur.prenom }} <br>
            </p>
        </a>

        <p class="text-gray-700">
            <strong class="font-semibold"> Email:</strong> {{ formateur.email }} <br>
        </p>

    </div>
     
{% endblock %}
